<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url(/media/euclid_info_img/scp_euclid.jpeg); color:white; background-size:100%; background-attachment: fixed; font-size:25px;">
    <header style="width:100%; height:100%; border: 1px solid black; text-align:center;"><h1>Классификация SCP-объектов Евклид</h1></header>
<div style="text-align:center; border:1px solid black;"><div style="border:1px solid black; float: right; width:250px; height: 250px;"><img src="/media/euclid_info_img/euclid.jpg" style="width:250px; height:250px;"></div>
    <p>Классификация «Евклид» присваивается SCP-объектам, свойства которых не до конца поняты или же поведение которых невозможно предсказать.</p>
    <p>«Евклиды» не представляют такой же опасности для человечества, как объекты класса «Кетер», однако их содержание может быть связано с довольно большими трудностями.</p>

    <p>Объекты класса «Евклид» могут быть использованы во благо Фонда SCP или человечества, однако в связи с их необычной природой подобное применение может иметь непредвиденные последствия.</p>
    <p>«Евклид» может быть реклассифицирован как «Безопасный», если удаётся понять механизм его работы или разработать меры содержания, полностью исключающие возможность проявления объектом его свойств.</p>
    <p>С другой стороны, существует вероятность и повышения класса объекта до «Кетера».</p>
    <br>
    <p>Объект класса «Евклид» можно сравнить с диким животным, которое может как напасть, так и пройти мимо.</p>

</div>

</body>
</html>